# Sample configuration file for layers specification.


newlayer
  gdsno 8
# if hidden is "yes", no output will be generated for this layer
  hidden no
# the layer name. Defaults to "LayerX", where X is the GDSii number
  name Active
# individual color components specification. The scale is 0.0 to 1.0
  red 0.4
  green 0.9
  blue 0.4
# if fill is "yes", a solid fill will be used for the shapes on this layer
  fill no
# hatch can have three possible values: "no", "simple" and "cross"
# If "no", no hatch will be generated and the angle and step fields will be
# ignored. If "simple" or "cross", a hatch with the parameters specified by
# the angle and step fields will be applied
  hatch cross
# hatch angle, specified in normal degrees (0 to 360 for a full rotation)
  angle 22.5
# the distance (in the output space i.e. what the result on paper would be)
# between the hatch lines, specified in milimeters.
  step 5
endlayer

newlayer
  gdsno 14
  hidden no
  name Pdiff
  red 0.9
  green 0.9
  blue 0.0
  fill no
  hatch no
endlayer

newlayer
  gdsno 15
  hidden no
  name Ndiff
  red 0.9
  green 0.1
  blue 0.9
  fill no
  hatch no
endlayer

newlayer
  gdsno 19
  hidden no
  name Nplus
  red 0.8
  green 0.2
  blue 0.8
  fill no
  hatch no
endlayer

newlayer
  gdsno 20
  hidden no
  name Pplus
  red 0.8
  green 0.6
  blue 0.0
  fill no
  hatch no
endlayer

newlayer
  gdsno 12
  hidden no
  name Poly
  red 1.0
  green 0.0
  blue 0.0
  fill no
  hatch cross
  angle 45.0
  step 3
endlayer

newlayer
  gdsno 5
  hidden no
  name Contact
  red 0.0
  green 0.0
  blue 0.0
  fill yes
  hatch no
endlayer

newlayer
  hidden no
  gdsno  06
  name Metal1
  red 0.0
  green 0.0
  blue 0.9
  fill no
  hatch single
  angle 60.0
  step 4
endlayer

newlayer
  gdsno 21
  hidden no
  name Via
  red 0.7
  green 0.7
  blue 0.0
  fill yes
  hatch no
endlayer

newlayer
  gdsno 22
  hidden no
  name M2Vdd
  red 0.3
  green 0.3
  blue 0.3
  fill no
  hatch single
  angle 120.0
  step 4
endlayer

newlayer
  gdsno 23
  hidden no
  name M2Vss
  red 0.3
  green 0.3
  blue 0.3
  fill no
  hatch single
  angle 120.0
  step 4
endlayer

newlayer
  gdsno 26
  hidden no
  name Metal2
  red 0.3
  green 0.3
  blue 0.3
  fill no
  hatch single
  angle 120.0
  step 4
endlayer

newlayer
  gdsno 63
  hidden no
  name RefText
  red 0.0
  green 0.0
  blue 0.0
  fill no
  hatch no
endlayer
